.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../images/form-wizard-bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.wizard {
  &.container {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background: #e8e8e3;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px #0000001f;
  }
}
.wizardSteps {
  max-width: 205px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 40px;
  li {
    &.done {
      background: #5fbf80;
      cursor: pointer;
      &::before {
        background: #5fbf80;
      }
    }
    &.active {
      border: 3px solid #5fbf80;
    }
    &:first-child {
      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 148px;
        left: 27px;
        background: #ced2d6;
      }
    }
    border-radius: 50px;
    height: 30px;
    width: 30px;
    border: 3px solid rgb(195, 195, 197);
    position: relative;
    .stepName {
      position: absolute;
      max-width: 205px;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      top: 30px;
      width: 200px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 13px;
    }
  }
}

.costumDropDown {
  position: relative;
  ul {
    list-style: none;
    position: absolute;
    padding: 10px;
    background: #fff;
    width: 100%;
    top: 36px;
    border: 1px solid #ced4da;
    max-height: 200px;
    overflow-y: scroll;
    li {
      padding: 0 10px;
      border-bottom: 1px solid #ced4da00;
      cursor: pointer;
      
      &:hover {
        border-bottom: 1px solid #ced4da;
        background: #e8e8e3;
      }
    }
  }
}
.controlS {
  display: flex;
  span {
    img {
      height: 20px;
    }
    margin-left: 10px;
    border-radius: 3px;
    display: inline-block;
    background: #ff0038bd;
    line-height: 24px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.editItem {
      background: yellow;
    }
  }
}
